img {
    width: 200px;
    border-radius: 25%;
}
body {
    text-align: center
}
p {
    color: turquoise;
}

h1 {
    color: turquoise;
}
html { 
    background-color: black;
}
    
